* {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
}

.animation {
    animation: slide-in ease 3s forwards;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
}

@keyframes slide-in{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        transform: rotate(360deg);
    }
    100%{
        opacity: 0;
    }
}