* {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
}

.logo-animation {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: slide-in 3s ease 0.1s forwards;
}

.slide{
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #000;
    animation: slider-left 0.45s ease 3.4s forwards;
}

.logo-txt{
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    position: absolute;
    animation: logo-txt-animation 3s ease-in-out 3.9s forwards;
}

@keyframes slide-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes slider-left{
    from{
        opacity: 1;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes logo-txt-animation{
    0%{
        opacity: 0;
        width: 200px;
        height: 100px;
    }
    50%{
        opacity: 1;
        width: 250px;
        height: 100px;
    }
    100%{
        opacity: 1;
        width: 200px;
        height: 100px;
    }
}