* {
    margin: 0 auto;
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
}

.logo-animation {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    animation: slide-in 2.2s ease 0.1s forwards;
}

.slide{
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 130px;
    height: 130px;
    position: absolute;
    background-color: #000;
    animation: slider-left 0.45s ease 3s forwards;
}

.logo-txt{
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 250px;
    height: 100px;
    position: absolute;
    animation: logo-txt-animation 4.5s ease-in-out 3.8s forwards;
}

@keyframes slide-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes slider-left{
    from{
        opacity: 1;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes logo-txt-animation{
    0%{
        opacity: 0;
        height: 100px;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        height: 100px;
    }
}